#pap {
	border: 1px solid #000;
}

#table2 {
	border: 1px solid #000;
}

td {
    border: 1px solid #000; /* 1px solid black border */
    padding: 8px; /* Add padding for better spacing */
}

#mainDiv {
	width: 25%;
	border: 3px solid #000;
	border-radius: 2px;
}